@media only screen and (max-width: 600px){


 .navbar {
    flex-direction: column;
    transition: all 0.8s ease-in-out;
    height: 400px;
    
  }
  .navList{
    flex-direction: column;
  
  }
  .navList li{
    padding: 10px 30px;
    margin-top: 20px ;
  }
  .rightNav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 .burger{
   display: block;
 }

 .h-nav{
   height: 45px;
   transition: all 0.8s ease-in-out; 
 }

 .v-nav {
   opacity: 0;
    transition: all 0.8s ease-in-out;
 }
 
 .btn {
   font-size: 12px;
   width: 60px; 
   padding: 5px 10px;
 }
  
 #search {
   padding: 5px;
   
 }  
 .syl{
   width: 200px;
   margin-top: 20px ;
 }
 
 .s3{
   flex-direction: column;
 }
 .s4{
   flex-direction: column;
 }

 .mainContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "s1"
                       "s2"
                       "s3"
                       "s4"
                       "s5"
                       "s6";
  grid-template-rows: 3em 25em 25em 25em 30em 2.5em;
}
 

.footer p{
  font-size: 8px;
}
.java{
  font-size: 11px;
}


 .bold-text {
   font-size: 18px;
 }
 .text {
   font-size: 11px;
 }
 .paras {
   padding: 20px;
 }
 .firstsection{
   height: 60vh;
 }

 
.section {
  flex-direction: column;
}


 .box-main {
   margin: 0px 20px;

}  
}
@media only screen and (max-width: 380px){
 .firstsection{
   height: 55vh;
 }
}